

@media only screen and (max-width: 768px)  {
   .bg-image {
    width: 100%;
   }
   .container {
    width: 80%;
   }
   
   .describe {
    width: 80%;
   }
 .container {
    flex-direction: column;

   width: 100%;
 }
 .info {
    margin-top: 500px;
    flex-direction: column;
 }
  .info div {

    width: 80%;
  }

  .iptvimg {
    height: 150px;
  }

  .contacto {
    margin-top: 360px;
    
}
}

